@import "~antd/dist/antd.css";

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}  
}

#root {
  width: 100%;
  height: 100%;
}
.App {
  text-align: center;
  background-image: url(/images/bg.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}
.login-text-container{
  padding: 10px 10px;
}


.loginContent {
  height: 100%;
  background: transparent;
  .ant-layout {
    background: transparent;
  }
  .ant-layout-footer {
    background: transparent;
    padding: 30px 0px;
    text-align: left;
  }
}
.footer-text {
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.7px;
  font-family: 'Open Sans', sans-serif;
}
.h-100 {
  height: 100%;
}
.h1-white {
  color: #fff;
  text-align: left;
  font-size: 28px;
  font-family: 'Open Sans', sans-serif;
}
.h5-white {
  color: #fff;
  text-align: left;
  opacity: 0.7;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}
.auth-warp {
  background: rgba(0,0,0,0.3);
  border-radius: 10px;
  padding: 30px;
}
.auth-tab {
  .ant-tabs-nav {
    display: table;

    .ant-tabs-tab {
      padding-left: 0px;
      padding-right: 0px;
      width: auto;
      color: #8D8D8D;
      font-size: 20px;
      font-family: 'Open Sans', sans-serif;
    }
    .ant-tabs-tab-active {
      color: #fff;
    }
  }
  .ant-tabs-ink-bar {
    background-color: #fff;
  }
}
.ant-tabs-bar {
  border-bottom-width: 0px;
}

.login-form{
  .ant-input-affix-wrapper{
    .ant-input{
      background: rgba(255, 255, 255,0.1);
      border: none;
      min-height: 50px;
      font-size: 16px;
      font-family: 'Open Sans', sans-serif;
      padding-left: 40px;
      color: #fff;


      &:hover,&:active,&:focus{
        background: rgba(0,0,0,0.3);
         outline:0; /* I have also tried outline:none */
        -webkit-appearance:none;
        box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;  
      }

      @include placeholder {
        color: #000;
      }
      
    }
    
  }
  .login-form-forgot{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #8D8D8D;
    text-align: left;
  }

  .button-box{
    text-align: left;
  }
  .login-form-button{
    background-color: rgb(0, 76, 207);
    border-radius: 5px;
    border: 0px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    min-height: 50px;
    margin-top: 20px;

    transition: border-color .3s,background .3s,color .3s;
    
  }
}
.login-warp{
  .social-icon{
    border: 3px solid #000;
    color:#000;
  }
}

@media (max-width: 768px) {
  .App{
    height: auto;

  }
  .loginContent{
    height: auto;
    .container{
      width: 100%;  
    }
  }
  .h-100{
    width: 100%;
    height: auto;
  }
  .login-text-container{
    .h1-white,.h5-white{
      text-align: center;  
    }
  }
}